.beer-part {
  background: #e4eae2;
  padding: 100px 0;
}

.beer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.beer-part h3 {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.beer-flex {
  display: flex;
}

.beer-animation img {
  transition: transform 0.8s;
}

.beer-animation:hover img {
  transform: rotate(180deg);
}

.beer-text-variante {
  font-size: 16px;
}

.beer-blond {
  color: #e30613;
}

.beer-dark {
  color: #58b999;
}

.beer-ipa {
  color: #f4af0a;
}

// oui oui oui
.beer-column img {
  transition: transform 2s ease-out;
}

.beer-column img:hover {
  transform: rotate(0.5turn);
  transform-origin: center;
}
