.building-part video {
  border-radius: 50%;
  margin: 40px 0 100px;
  width: 350px;
}

.building-images {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .building-part video {
    width: 200px;
  }
}

@media (max-width: 750px) {
  .building-part video {
    width: 150px;
  }
}
