.burger {
  position: fixed;
  top: 100px;
  right: 46px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.burger.is-active {
  opacity: 1;
}

.burger-open {
  opacity: 1;
  position: fixed;
  top: 100px;
  right: 46px;
  display: flex;
  flex-direction: column;
}

.burger-menu {
  position: fixed;
  padding-top: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  background: #f6e8ea;
  color: #586a53;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  transform: translateX(100%);
  transition: transform 0.3s;
}

.burger-menu.is-active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.burger-flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.burger-logo-margin {
  height: 80px;
  margin-top: 50px;
}

.burger-menu ul {
  margin-top: 40px;
  list-style: none;
  font-size: 40px;
  font-weight: 900;
}

.burger-menu ul a {
  text-decoration: none;
}

.burger-menu ul a:hover {
  color: #dd622d;
}

.burger-flex-language {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-right: 15px;
}

.burger-flex-language p,
.burger-flex-language a {
  margin-left: 3px;
}

.burger-flex-slogan {
  color: #586a53;
  height: 300px;
  display: flex;
  align-items: end;
  font-size: 20px;
  font-weight: 500;
}

.burger-nav {
  border-bottom: #586a53 solid 1px;
}

.burger-nav:hover,
.burger-flex-language a:hover {
  border-bottom: #dd622d solid 2px;
  color: #dd622d;
}
