.button-addcart {
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  background: black;
  border-radius: 20px;
  margin-top: 15px;
}

.button-details {
  padding: 10px 25px;
  text-decoration: none;
  border: black 2px solid;
  border-radius: 20px;
  margin-top: 15px;
}
