.button-addcart {
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  background: black;
  border-radius: 20px;
  margin-top: 15px;
  transition: background 0.2s;
}

.button-addcart:hover {
  background: #dd622d;
}

.button-details {
  padding: 10px 25px;
  text-decoration: none;
  box-sizing: border-box;
  border: black 2px solid;
  width: 103px;
  height: 43px;
  border-radius: 20px;
  margin-top: 15px;
  transition: color border;
  transition-duration: 0.2s;
}

.button-details:hover {
  color: #dd622d;
  border: #dd622d 3px solid;
}
