.footer-arrow-flex {
  display: flex;
  justify-content: end;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-last-p {
  margin-bottom: 30px;
}

.footer-link {
  margin-top: 15px;
  margin-right: 10px;
}

footer a {
  text-decoration: none;
}

.footer-margin-title {
  margin-top: 40px;
}

.footer-margin-top-title {
  margin-top: -10px;
}

.footer-rights {
  margin-top: -45px;
}

footer h2 {
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .footer-arrow-flex {
    margin-bottom: 30px;
  }

  .footer-rights {
    margin-top: 0;
  }
}
