.newsletter-part {
  padding: 130px 130px 30px;
  margin: 100px 0;
}

.newsletter-email {
  padding: 10px 25px;
  border: none;
  width: 220px;
  height: 43px;
  border-radius: 20px;
  display: block;
  margin-bottom: 10px;
}

.newsletter-button {
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  background: black;
  border-radius: 20px;
  border: none;
  height: 43px;
  transition: background 0.2s;
  font-weight: 900;
}

.newsletter-button:hover {
  background: #dd622d;
}

.newsletter-cover-background {
  background: #dd622d;
  height: 150px;
  margin-bottom: -318px;
}

.newsletter-part img {
  position: relative;
  z-index: 1;
  max-width: 800px;
  height: auto;
  margin: -110px -65px 0;
}

.newsletter-form {
  position: absolute;
  z-index: 2;
  margin-left: 65px;
}

@media (max-width: 992px) {
  .newsletter-part img {
    max-width: 700px;
    height: auto;
    margin: -110px -115px 0;
  }

  .newsletter-cover-background {
    height: 130px;
    margin-bottom: -285px;
  }

  .newsletter-form {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .newsletter-part img {
    max-width: 500px;
    height: auto;
  }

  .newsletter-cover-background {
    height: 100px;
    margin-bottom: -240px;
  }

  .newsletter-form {
    margin-left: -35px;
    margin-top: -35px;
  }
}
