.values-part h3 {
  color: #dd622d;
}

.values-sentence {
  color: #dd622d;
  font-size: 19px;
  font-weight: 700;
  margin-top: 15px;
}

.values-part img {
  margin-right: -20px;
}

.values-history-margin {
  margin-bottom: 60px;
}
