.values-part h3 {
  color: #dd622d;
  margin-top: 20px;
}

.values-sentence {
  color: #dd622d;
  font-size: 19px;
  font-weight: 700;
  margin-top: 15px;
}

.values-part img {
  margin-right: -20px;
}

.values-history-margin {
  margin-bottom: 40px;
  column-count: 2;
  column-gap: 20px;
}

@media (max-width: 992px) {
  .values-history-margin {
    column-count: 1;
    column-gap: 0;
  }

  .values-sentence {
    font-size: 15px;
  }
}
