/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  font-family: "Brother 1816", sans-serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

header {
  background: url(../img/background-liquide.png) #dd622d;
  background-size: cover;
  padding: 100px 0;
  color: white;
  height: 660px;
}

footer {
  background: #586a53;
  color: #f6e8ea;
  padding: 100px 0;
  margin-top: 100px;
}

h2 {
  font-size: 40px;
  font-weight: 900;
}

h3 {
  font-size: 25px;
  font-weight: 900;
}

p {
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 576px) {
  h1 {
    width: 350px;
  }
}

::selection {
  color: white;
  background-color: #dd622d;
}
